.Popup{
    width: 350px;
    background-color: #daeff1;

    .title{
        padding: 10px 0;
        text-align: center;
        color: #daeff1;
        background-color: #327a81;
    }
    .weather-container{
        width: 100%;
        text-align: center;
        color: #327a81;
        
        tr{
            line-height: 2;

            .trailer-date{
                width: 160px;
                padding-left: 30px;
                text-align: left;
            }
        }
    }
    .select-city{
        display: flex;
        justify-content: center;
        padding: 20px 0;

        .city-select{
            margin-right: 10px;
        }
        .switch-button{
            font-size: 12px;
            color: #327a81;
        }
    }
    .real-time-title, .trailer-title{
        margin: 20px 0 0 20px;
        color: #327a81;
    }
    
}

ul.ant-cascader-menu{
        min-width: none;
        width: 100px;
        font-size: 12px;
}